/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
.DS_Store
.idea
.viminfo
/.composer
/www/uploads/fotos
.gitignore
.bash_extras
.bash_history
.bash_logout
.bash_profile
.old_bash_history
.viminfo.tmp
composer.phar
www/datahora.php
www/phpinfo.php
www/test.php

